.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to fill the entire viewport */
  margin: 0;
}

.centered-div {
  width: 100%;
  padding: 200px;
  border: 2px solid #ccc;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
}
.centered-div-no-boarder {
  width: 100%;
  padding: 250px;
  border: 0px solid #ccc;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
}